<h1>Edit student</h1>
<form method="post" action="/students/<%=@student.id%>">
  <label for="first-name">First name:</label>
  <input id ="first-name" type="text" name="first_name" value="<%=@student.first_name%>"/>

  <label for="second-name">Second name:</label>
  <input id ="second-name" type="text" name="second_name" value="<%=@student.second_name%>"/>

  <label for="house-select">House:</label>
  <select id="house-select" name="house">
    <option value="1" <%="selected" if @student.house == 1%>>Air</option>
    <option value="2" <%="selected" if @student.house == 2%>>Water</option>
    <option value="3" <%="selected" if @student.house == 3%>>Fire</option>
    <option value="4" <%="selected" if @student.house == 4%>>Earth</option>
  </select>

  <label for="age">Age:</label>
  <input id ="age" type="number" name="age" value="<%=@student.age%>"/>

  <input type="submit" value="Update"/>

</form>
